@font-face {
	font-family: Gilroy-bold;
	src: url(../assets/fonts/Gilroy-bold.ttf);
}
@font-face {
	font-family: Gilroy-medium;
	src: url(../assets/fonts/Gilroy-medium.ttf);
}
$black:#070707;
$white:#F6F6F6;



@media screen and (min-width: 769px) and (max-width: 1024px){
	body .container{
		width: 90%;
	}
}
@media screen and (max-width: 768px){
.header, .preview__desc li:nth-child(3) {
	display: none;
}
body .container{
	width: 90%
}
body .preview-pic{
	background-image: url(../assets/images/photo-mobile.jpg);
	background-size: cover;
	background-position: top;
	height: 400px;
}

body .preview__desc{
	align-items: flex-start;
	flex-direction: column;
	margin: 0;
}

body .about-me__wrapper{
	width: 75%;
}
:root .about-me,:root body section.skills,:root body section.portfolio,:root body section.contacts{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
section.portfolio a, section.portfolio img{
	margin-bottom: 5%;
}
body .contacts-icons__wrapper{
margin-top: 5%;
}
body section.contacts>p{
	margin-top: 5%;
	margin-bottom: 5%;
}
body section.skills .container .skills__programs{
	padding-bottom: 5%;
}
:root section.skills .container>p {
padding: 5% 0 5% 0;
}

}
@media screen and (max-width: 830px) and (min-width: 540px) {
	body .programs__info{
		margin: 7%;
	}
}
@media screen and (max-width: 540px){
.send-msg__button{
	width: 60%;
	text-align: center;
}
body .row1{
	padding-top: 40px;
}
body .row2{
	padding-bottom: 5px;
}
body .programs__info{
	margin: 2%;
}
}
@media (min-width:200px) and (max-width: 730px) {
	body .portfolio a{
	font-size: calc(10px + (18 - 10) * ( (100vw - 200px) / ( 730 - 200) ));
	}
}

/*Start body */

body {
	*{
		box-sizing: content-box;
		text-decoration: none;
	}
	margin: 0;
	padding: 0;
	font-family: 'Gilroy-bold';
	.container {
		display: block;
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		height: auto;
	}
	section:not(:nth-child(1),:nth-child(2)){
		padding-top: 110px;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
	h2 {
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		text-align: center;
		margin: 0;
		
	}
}

/*Header*/

.header {
	height: 87px;
	background-color: $white;
	&__wrap{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 950px;
		&-nav{
			display: flex;
			height: 87px;
			align-items: center;
			justify-content: space-between;
			border-bottom:  1px solid #828282;
			& a{
				font-family: 'Gilroy-bold';
				font-size: 18px;
				text-decoration: none;
				color: #4e4e4e;
				&:hover{
					color: $black;	
				}
				}
		}
	}
}

	/*Section Preview*/

.preview__desc{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 40px 0 50px;
	& li:nth-child(1)/*.desc__name*/{
		display: block;
		margin: 0;
		width: 123px;
		text-align: left;
		font-size: 47px;
		}
	& li:nth-child(2)/*.desc__job*/{
		display: block;
		margin: 0;
		margin-bottom: 10px;
		width: 170px;
		text-align: left;
		font-family: 'Gilroy-medium';
		font-size: 18px;
		}
	& li:nth-child(3)/*desc__lang*/{
		font-size: 18px;
		text-transform: uppercase;
		transform: rotate(-90deg);
		text-decoration: none;
		margin-bottom: 40px;
		& a{
			color: #4e4e4e;
			&:hover{
				color: $black;
				}
			}
		}
}
.preview-pic{
	display: block;
	max-width: 950px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-image: url(../assets/images/photo.jpg);
	height: 550px;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Section About me */

.about-me{
	background-color: $white;
	max-width: 100% !important;
	margin-top: 104px;
	padding: 120px 0 107px;
	.about-me__wrapper{
		display: flex;
		font-family: 'Gilroy-Medium';
		font-size: 18px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding: 18px 0 18px;
		height: 30%;
		width: 50%;
		flex-direction: column;
		justify-content: space-around;
		.about-me__info1, .about-me__info2, .about-me__info3{
			display: block;
		}
	}
}

/* Section Skills*/

.skills{
	.container{
	&>:nth-child(2) /* P */{
	margin: 0;
	display: block;
	text-align: center;
	padding: 70px 0 80px;
	font-family: Gilroy-Medium;
	color: #070707;
	font-size: 18px;
	letter-spacing: 0em;
	}
	.skills__programs{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-bottom: 110px;
		.row1{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.row2 {
			margin: 0;
			padding: 0;
			font-family: Gilroy-Bold;
			font-size: 14px;
			letter-spacing: 0em;
			padding-top: 23px;
			padding-bottom: 40px;
			text-align: center;
		}
		.rating-area {
			overflow: hidden;
			width: 150px;
			margin: 0 auto;
			&:not(:checked) > input {
				display: none;
			}
			&:not(:checked) > label {
				float:right;
				width: 30px;
				padding: 0;
				cursor: pointer;
				font-size: 30px;
				color: lightgrey;
				text-shadow: 1px 1px #E5E5E5;
			}
			&:not(:checked) > label:before {
				content: '★';
			}
			& > input:checked ~ label {
				color: $black;
				text-shadow: 1px 1px rgb(34, 34, 33);
			}
			&:not(:checked) > label:hover,
			&:not(:checked) > label:hover ~ label {
				color: $black;
			}
			& > input:checked + label:hover,
			& > input:checked + label:hover ~ label,
			& > input:checked ~ label:hover,
			& > input:checked ~ label:hover ~ label,
			& > label:hover ~ input:checked ~ label {
				color: $black;
				text-shadow: 1px 1px rgb(45, 45, 44);
			}
			& > label:active {
				position: relative;
			}
		}
	}
	}
}

/*Section portfolio*/

.portfolio{
	background-color: $white;
	box-sizing: content-box;
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
		.main__ads{
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 45px;
			font-size: 2px;
		}
	}
	& h2 {
		padding-bottom: 47px;
	}
	& a {
		margin-bottom: 99px;
		font-family: Gilroy-Medium;
		font-size: 18px;
		text-decoration: underline;
		color: $black;
	}

}

/* Section Contacts*/
section.contacts{
	&>p {
		font-family: Gilroy-Medium;
		font-size: 14px;
		letter-spacing: 0em;
		text-align: center;
		margin-top: 45px;
		margin-bottom: 120px;
	}
	.contacts__wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
	&>p{
		font-family: Gilroy-Medium;
		font-size: 18px;
		letter-spacing: 0em;
		text-align: center;
	}
	.send-msg__button {
		background: $black;
		padding: 13px 30px;
		border-radius: 100px;
		text-decoration: none;
		&>span {
			box-sizing: content-box;
			text-decoration: none;
			color: $white;
		}
	}
	
}
.contacts-icons__wrapper{
	display: flex;
	justify-content: center;
	margin-top: 80px;
	&>a{
		margin-right: 10px;
		margin-left: 10px;
	}
}
}











